body{
    background-color: darkgray;
}

.parent{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.centerdiv{
    width: 50%;
    margin: 0 auto;
    text-align: center ;
    align-items: center;

}

.centerdivMobile{
    width: 80%;
    margin: 0 auto;
    text-align: center ;
    align-items: center;

}

.addTweetCSS{
   padding: 40px;
    

}